label {
  color: #333;  /* Dunkelgraue Schriftfarbe für bessere Lesbarkeit */
  display: block;  /* Jedes Label wird als Block angezeigt, damit die Eingabefelder darunter erscheinen */
  margin-bottom: 5px;  /* Etwas Abstand unter jedem Label */
}



/* Stil für den gesamten Bildschirm */
.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: white;
}

.header {
  height: 10%;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.header button {
  margin-right: 20px; /* Abstand zwischen Button und Titel */
}

.header h3 {
  margin: 0; /* Entfernt den Standardabstand um die Überschrift */
  color: #333; /* Farbe der Überschrift */
}


/* Hauptbereich für Map und Menü */
.main-area {
  height: 90%;
  position: relative;
}

.burgerMenu {
  position: absolute;
  top: 10%; /* Beginnt unterhalb des Headers */
  left: 0;
  width: 250px;
  height: 90%; /* Passt sich an die verbleibende Höhe an */
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  background-color: white; /* Hintergrundfarbe des Menüs */
  z-index: 1000;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; /* Ordnet die Elemente vertikal an */
  align-items: start; /* Ausrichtung der Links am Start der Spalte */
  font-family: Arial, sans-serif; /* Stil des Textes, angepasst am Titel */
  font-size: 16px; /* Größe des Textes */
}

.burgerMenu.active {
  transform: translateX(0);
}

.burgerMenu a {
  display: block; /* Stellt sicher, dass jeder Link als Blockelement dargestellt wird */
  color: #333; /* Dunkelgraue Textfarbe */
  text-decoration: none; /* Keine Unterstreichung */
  padding: 8px 0; /* Abstand oben und unten */
  width: 100%; /* Sichert, dass der Link die volle Breite einnimmt */
}



/* Map Container Stil */
.mapContainer {
  height: 100%;
  transition: margin-left 0.3s ease;
}

.mapContainer.menuActive {
  margin-left: 250px;
}
