html, body {
  background-color: white !important;
  color: black !important;
}


input[type="text"],
textarea {
  width: 100%; /* Setzt die Breite der Elemente auf 100% ihrer Containerbreite */
  box-sizing: border-box; /* Stellt sicher, dass Padding und Border in die Breite inkludiert sind */
}

.pac-container {
  width: 90% !important; /* oder eine spezifische Breite nach Wahl, z.B. 500px */
}


p {
  color: #333
}

.burgerMenu button {
  margin-top: 2%; 
  margin-bottom: 0; 
  width: 90%; 
}



.burgerMenu {
  align-items: flex-start;
  justify-content: flex-start;
}


.burger-menu.form-active a,
.burger-menu.form-active button:not(.incident-toggle, [type="submit"]),
.burger-menu.form-active p {
  display: none;
}

.incident-toggle {
  display: inline-block;
  margin-top: 10px;
}

.incident-form {
  margin-top: 20px;
}



label {
  color: #333;  
  display: block;  
  margin-bottom: 5px;  
}

.scroll-locked {
  overflow: hidden;
  height: 100vh;
}


.container {
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
  background-color: white;
}

.header {
  height: 10%;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.header button {
  margin-right: 20px; 
}

.header h3 {
  margin: 0; 
  color: #333; 
}


.main-area {
  height: 90%;
  position: relative;
}

.burgerMenu {
  position: absolute;
  top: 2%; 
  left: 0;
  width: 250px;
  height: 90%; 
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  background-color: white; 
  z-index: 1000;
  padding: 10px 20px; 
  box-sizing: border-box;
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  gap: 10px; 
  font-family: Arial, sans-serif;
  font-size: 16px; 
}




.burgerMenu.active {
  transform: translateX(0);
}

.burgerMenu a {
  display: block; 
  color: #333; 
  text-decoration: none; 
  padding: 8px 0; 
  width: 100%; 
}



.mapContainer {
  height: 100%;
  transition: margin-left 0.3s ease;
}

.mapContainer.menuActive {
  margin-left: 250px;
}
